*{
    margin: 0;
    box-sizing: border-box;
    /* color: #292a2d; */
}

body{
    background-color: aliceblue;
}

i{
    cursor: pointer;
}

.logo, a{
    color: aliceblue;   
}

.logo{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.links{
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_search{
    margin: 0 10px;
    max-width: 525px;
    width: 100%;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    max-width: 450px;
    width: 100%;
    height: 37px;
     border: 2px none #deedff;
    border-radius: 8px;
    padding: 4px 10px;
}


input{
    animation: reveal 1.5s ease-in-out ;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    height: 35px;
    max-width: 400px;
    width: 100%;
    font-size: 15px;font-family: "Sofia Sans", serif;
}
   
input::placeholder{
    color: #3d444e;
    font-size: 15px;
}

input

input:active{
    background-color: #0e192b00;
    border: none;
   

}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
}

.top_left{
    margin: 0 15px;
    animation: reveal1 1.5s ease-in-out ;
}

.top_right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    animation: reveal 1.5s ease-in-out ;
}

.top_right button{
    width: 60px;
    cursor: pointer;
    border: none;
    font-weight: 800;
    border-radius: 6px;
    height: 29px;
    font-family: "Josefin Sans", serif;
}

.top_center{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    max-width: 800px;
    width: 100%;
    padding-right: 25px;
}

.top_right a{
    text-decoration: none ;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.setting{
    display: flex;
    align-items: center;
    width: 62px;
    justify-content: space-between;
}

#navbar{
    width: 100%;
    height: 130px;
    padding: 30px;
    background-color: #173e77;
    box-shadow: 0px 0px 6px 3px #001210;
    
}

#navbar.sticky{
    position: fixed;
    z-index: 5;
    top: 0;
}

nav{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.bottom li{
    color: #fff;
    list-style: none;
    margin: 5px;
    font-family: "Sofia Sans", serif;
    font-weight: 400;
    font-style: normal;
    transition: all .5s ease;
    animation: reveal1 1.5s ease-in-out ;
}

.bottom li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.links a{
    text-decoration: none;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom{
    max-width: 1000px;
    width: 100%;
}

.intro_section{
    width: 100;
    max-width: 1100px;
    margin:  10px auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;

}

.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: reveal1 1.5s ease-in-out ;
}

.text1 p{
    font-family: "Sofia Sans", serif;
    font-size: 25px;
}

.weather{
    width: 190px;
    height: 75px;
    background-color: #0f60d6;
    border-radius: 9px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .35s ease-out background-color;
    
}

#arrow{
    transition: 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.right_weather{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 75px;
}

.left_weather{
    display: flex;
    align-items: right;
    justify-content: space-evenly;
    flex-direction: column;
}

.left_weather p{
    color: #fff;
    font-family: "Sofia Sans", serif;
}


.sun{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
}

.weather:hover{

    cursor: pointer;
    background-color: #093474;
    #arrow{
        transform: rotate(-90deg);
    }
    
}

i#sunny {
    animation: reveal1 1.2s ease-in-out ;
}

i#cloudy{
    animation: reveal 1.2s ease-in-out;
}

@keyframes reveal1{
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes reveal2{
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes reveal3{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}




.news_container{
    display: flex;
    align-items: center;
    gap: 11px;
    max-width: 1100px;
    width: 100%;
    margin: 30px auto 30px auto;
    height: 395px;
}




.newscard1{
    width: 365px;
    height: 490px;
    background-color: #fff;
    box-shadow:  1px 3px 5px 1px #ced3da;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}



.newscard2{
    position: relative;
    width: 365px;
    height: 490px;
    background-color: #173e77;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
}


/* .news_container1 > div{
    background-color: white;
    box-shadow:  0 1px 0 #ced3da;
    border-radius: 10px;
} */

.news_container1{
    display: grid;
    grid-template-columns: minmax(400px, 620px) 444px;
    grid-template-rows: repeat(3 , 175px);
    grid-gap: 10px 12px;
    max-width: 1100px;
    width: 100%;
    margin: 10px auto 30px auto;
}

.box-card1{
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 6px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    animation: reveal1 1.5s ease-in-out ;
}

.text-area{
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}

.top-box-card2{
    display: flex;
    flex-direction: column;
    transition: all ease 1s ;
}

.box-card1:hover{
    cursor: pointer;
    .top-box-card2{
        text-decoration: underline;
    }
}

.box-card2:hover{
    cursor: pointer;
    .top-box-card2{
        text-decoration: underline;
    }
}

.image3{
    background: url(../img/kobe.jpg);
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;  
    background-blend-mode: color-burn;
}

.box-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85rem;
    letter-spacing: 1px;
    background-size: cover;    
    background-position: top;
    background-repeat: no-repeat; 
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.main-heading{
    /* font-family: "Josefin Sans", sans-serif; */
    font-family: "Roboto Condensed", sans-serif;
}

.sub-heading{
   font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
  font-weight: 400;
}


.img-container{
    background: url("../img/liverpool.jpg"); 
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;
    width: 100%;
    min-height: 460px;
    background-color: #173e77;
    border-radius: 11px;
}

.img-container1{
    background: url(../img/antman.jpg);
    background-size: cover;    
    background-position: top;
    background-repeat: no-repeat;    
    width: 195px;
    height: 100%;
    background-color: #173e77;
    border-radius: 11px;
    flex-shrink: 0;
}

.img-container2{
    background: url(../img/Donald.jfif);
    background-size: cover;    
    background-position: top;
    background-repeat: no-repeat;    
    width: 195px;
    height: 100%;
    background-color: #173e77;
    border-radius: 11px;
    flex-shrink: 0;
}

.img-container3{
    background: url(../img/up_Majorana1_);
    background-size: cover;    
    background-position: top;
    background-repeat: no-repeat;    
    width: 195px;
    height: 100%;
    background-color: #173e77;
    border-radius: 11px;
    flex-shrink: 0;
}

/* .img-container1{
    background: url(../img/antman.jpg);
}

.img-container2{
    background: url(../img/Donald.jfif);
}

.img-container3{
    background: url(../img/up_Majorana1_);
} */

.box-card2{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 6px;
    animation: reveal3 2s ease-in-out ;
}

input:focus{
    outline: none;
    border: none;
}


.news_container2{
    display: flex;
    align-items: center;
    gap:23px;
    max-width: 1100px;
    width: 100%;
    margin: 30px auto 30px auto;
    height: 395px;
   
}

.scroller_inner{
    display: flex;
    gap: 22px;
}

.newscard3{
    display: flex;
    align-items: flex-end;
    /* flex-direction: column; */
    min-width: 345px;
    height: 320px;
    background-color: #fff;
    box-shadow:  1px 3px 5px 1px #ced3da;
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    animation: reveal2 1.5s ease-in-out ;
}


.newscard3:hover{
    cursor: pointer;
}

.publisher-date p{
    font-size: 11px;
}

.box-title{
    /* text-align: left; */
    width: 240px;
}

.text-area1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
}


.publisher-date{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.scroller[data-animated="true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%,transparent);
    mask: linear-gradient(90deg, transparent, white 15%, white 85%,transparent);
}

.scroller[data-animated="true"] .scroller_inner{
    width: fit-content;
    animation: scroll 35s linear infinite;
}


@keyframes scroll {
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}

